STM32CubeDemos-B-L475E-IOT01A/Projects/B-L475E-IOT01A/Examples/Percepio/EWARM/B-L475E-IOT01/
STM32CubeDemos-B-L475E-IOT01A/Projects/B-L475E-IOT01A/Examples/Percepio/EWARM/settings/
STM32CubeDemos-B-L475E-IOT01A/Projects/B-L475E-IOT01A/Examples/Percepio/EWARM/Project.ewd
STM32CubeDemos-B-L475E-IOT01A/Projects/B-L475E-IOT01A/Examples/Percepio/EWARM/trace.hex
STM32CubeDemos-B-L475E-IOT01A/Projects/B-L475E-IOT01A/Examples/Percepio/EWARM/Project.ewt
