STM32CubeDemos-B-L475E-IOT01A/Projects/B-L475E-IOT01A/Examples/Percepio/EWARM/B-L475E-IOT01/
STM32CubeDemos-B-L475E-IOT01A/Projects/B-L475E-IOT01A/Examples/Percepio/EWARM/settings/
STM32CubeDemos-B-L475E-IOT01A/Projects/B-L475E-IOT01A/Examples/Percepio/EWARM/Project.ewd
STM32CubeDemos-B-L475E-IOT01A/Projects/B-L475E-IOT01A/Examples/Percepio/EWARM/trace.hex
STM32CubeDemos-B-L475E-IOT01A/Projects/B-L475E-IOT01A/Examples/Percepio/EWARM/Project.ewt
PIC32CK-SG01/firmware_secure/get_start_freertos_pic32ck_sg01_cult_secure.X/dist/pic32ck_sg01_cult/production/
PIC32CK-SG01/firmware_secure/get_start_freertos_pic32ck_sg01_cult_secure.X/dist/pic32ck_sg01_cult/debug/
PIC32CK-SG01/firmware_secure/get_start_freertos_pic32ck_sg01_cult_secure.X/defmplabxtrace.log
PIC32CK-SG01/firmware_secure/get_start_freertos_pic32ck_sg01_cult_secure.X/defmplabxtrace.log.inx
PIC32CK-SG01/firmware_secure/get_start_freertos_pic32ck_sg01_cult_secure.X/build/
PIC32CK-SG01/firmware_secure/get_start_freertos_pic32ck_sg01_cult_secure.X/.generated_files/
PIC32CK-SG01/firmware/get_start_freertos_pic32ck_sg01_cult.X/dist/
PIC32CK-SG01/firmware/get_start_freertos_pic32ck_sg01_cult.X/defmplabxtrace.log
PIC32CK-SG01/firmware/get_start_freertos_pic32ck_sg01_cult.X/defmplabxtrace.log.inx
PIC32CK-SG01/firmware/get_start_freertos_pic32ck_sg01_cult.X/build/pic32ck_sg01_cult/debug/
PIC32CK-SG01/firmware/get_start_freertos_pic32ck_sg01_cult.X/build/pic32ck_sg01_cult/production/
PIC32CK-SG01/firmware/get_start_freertos_pic32ck_sg01_cult.X/.generated_files/
PIC32CK-SG01/hex/get_start_freertos_pic32ck_sg01_cult.X.production.unified.hex
/PIC32CK-SG01/firmware_secure/get_start_freertos_pic32ck_sg01_cult_secure.X/dist/
/PIC32CK-SG01/firmware/get_start_freertos_pic32ck_sg01_cult.X/build/
PIC32CK-SG01/firmware/get_start_freertos_pic32ck_sg01_cult.X/.generated_files/
PIC32CK-SG01/firmware/get_start_freertos_pic32ck_sg01_cult.X/queuelogs/
