/* Run the console at 4 x the board default and reserve the upper 9,392 bytes
 * of SRAM for one full DFM retained alert plus 2.5% user-data margin.
 */

/ {
	dfm_retained_memory: memory@200bdb50 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x200bdb50 0x24b0>;
		ranges = <0x0 0x200bdb50 0x24b0>;
		zephyr,memory-region = "DfmRetained";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <1>;

		retainedmem0: retainedmem {
			compatible = "zephyr,retained-ram";
			status = "okay";
			ranges;
			#address-cells = <1>;
			#size-cells = <1>;

			retention0: retention@0 {
				compatible = "zephyr,retention";
				status = "okay";
				reg = <0x0 0x24b0>;
				prefix = [44 46 4d 52];
				checksum = <2>;
			};
		};
	};
};

&sram0 {
	reg = <0x20000000 0xbdb50>;
};

&usart1 {
	current-speed = <460800>;
};
